@import "tailwindcss";

@theme inline {

  /* PRIMARY COLORS */

  /*blue*/
  --color-blue-900: #4078FF;
  --color-blue-800: #5C83FF;
  --color-blue-700: #728FFF;
  --color-blue-600: #869AFF;
  --color-blue-500: #97A6FF;
  --color-blue-400: #A8B2FF;
  --color-blue-300: #B7BFFF;
  --color-blue-200: #E3E5FF;
  --color-blue-100: #F0F1FF;

    /* NEUTRALS */

  /*black*/
  --color-black-900: #0E1422;
  --color-black-800: #202533;
  --color-black-700: #333845;
  --color-black-600: #474B57;
  --color-black-500: #5C5F6A;
  --color-black-400: #71747E;
  --color-black-300: #878A92;
  --color-black-200: #B6B7BC;
  --color-black-100: #E6E7E8;

  /*white*/
  --color-white-900: #FFFFFF;
  --color-white-100: #F6F6F6;
  --color-white-200: #E9E9EB;

  /*green*/
  --color-green-900: #057234;
  --color-green-800: #2C7F45;
  --color-green-700: #458B56;
  --color-green-600: #5A9868;
  --color-green-500: #6FA479;
  --color-green-400: #83B18B;
  --color-green-300: #98BE9E;
  --color-green-200: #C1D8C4;
  --color-green-100: #D5E5D7;
  
  /*red*/
  --color-red-900: #BE1313;
  --color-red-800: #C83727;      
  --color-red-700: #D14F3A;
  --color-red-600: #D9644E;
  --color-red-500: #E17862;
  --color-red-400: #E88C77;
  --color-red-300: #E88C77;
  --color-red-200: #F8C5B9;
  --color-red-100: #FBD9D0;

  /*yellow*/
  --color-yellow-900: #F3B40A;
  --color-yellow-800: #F6BB33;
  --color-yellow-700: #F9C14C;
  --color-yellow-600: #FBC862;
  --color-yellow-500: #FDCF76;
  --color-yellow-400: #FFD58A;
  --color-yellow-300: #FFDC9E;
  --color-yellow-200: #FFEAC4;
  --color-yellow-100: #FFF1D8;

  --spacing-container: 1116px;  
  --spacing-header-h: 84px;
  --spacing-notification-bar-h: 24px:

}

.text-h1 {
  @apply font-semibold leading-[150%] text-[40px];
}

.text-h2 {
  @apply font-bold text-[32px];
}

.text-h3 {
  @apply font-bold text-[24px];
}

.text-h4 {
  @apply font-semibold text-[18px]; 
}

.text-h5 {
  @apply font-semibold text-[16px];
}

.text-h6 {
  @apply font-medium text-[14px];
}

.text-regular {
  @apply font-normal text-[14px] leading-[175%];
}

.text-medium {
  @apply font-medium text-[14px] leading-[175%];
}

.text-label {
  @apply font-medium text-[12px] leading-[24px];
}


/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

body {
  font-family: var(--font-montserrat), sans-serif;
}
